body {
    color: white;
}

canvas {
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index: -1;
}

.right {
    text-align: right;
}

/*#controls, h1 {
  text-align: center;
}
#start, #stop {
  font-size: 16pt;
}*/

/* Slide out menu */

#slide-menu {
    height: 100%;
    position: fixed;
    background: #666;
    width: 300px;
    left: -300px;
    color: black;
}