<!-- Page Header -->
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Sign Up
        <small>To Create a Challenge or Pledge</small>
    </h1>
  </div>
</div>

<%= render :partial => 'form' %>