<h2>Music</h2>
<form id="form">
  <label for="input">Paste Soundcloud URL here</label>
  <input id="input" class="block full-width field-light" placeholder="https://soundcloud.com/jrhodespianist/chopin-nocturne-in-c-minor-opus-481">
  <p>
    <button type="submit" id="submit" class="button black bg-silver mb1">Play it!</button>
    &nbsp;
    <input type="button" id="stop" value="Stop" class="button black bg-silver mb1">
  </p>
</form>