
          <a class="show" style="color:#999;"><<<</a>
          <div id="slide-menu">
<div class="music-search">
  <form id="form">
  <label for="input"></label>
  <input id="input" class="form-control" placeholder="Paste Soundcloud URL here" type="search">
  <p>
    <button type="submit" id="submit" value="https://soundcloud.com/paymon23/youve-got-the-love-florence-and-the-machine-the-xx-remix" class="btn btn-default buttonz">Play</button>
    &nbsp;
    <input type="button" id="stop" value="Stop" class="btn btn-default buttonz">
  </p>
  </form>
</div>
</div>

