@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

body {
    color: black;
}

canvas {
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index: -1;
}

.zensations {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2em;
}

.white {
    color: white;
}

.mirror-letter {
    display: inline-block;
    -moz-transform: scaleX(-1); /* Gecko */
    -webkit-transform: scaleX(-1); /* webkit */
    transform: scaleX(-1); /* standard */
}

/* Slide out menu */

#slide-menu {
    height: 200px;
    position: fixed;
    background: rgba(200, 200, 200, 0.8);
    width: 100%;
    bottom: 0px;
    margin-left: 0px;
    border-top: 5px solid white;
    padding-top: 10px;
}

.submenu {
    background: rgba(255, 255, 255, 0.8);
    z-index: 2;
}

/*Slide Up Menu*/

/*.navbar-fixed-bottom {
    margin-top: 20px;
}
.navbar-fixed-top, .navbar-fixed-bottom {
    position: static;
}
.navbar-fixed-bottom {
    bottom: 0;
}
.navbar-fixed-top, .navbar-fixed-bottom {
    left: 0;
    margin-bottom: 0;
    right: 0;
    z-index: 1030;
}
.navbar {
    overflow: visible;
}*/