<!DOCTYPE html>
<html>
  <head>
    <title>ProjectTwo</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>
  <body>
    <div class="main_container">
      <%= yield %>
    </div>

    <!-- <div id="slide-menu">
      <div class="container">
        <div class="flex flex-stretch mxn4">
          <div class="col col-4 px2 border border-grey">
            <h2>Music</h2>
            <form id="form">
              <label for="input">Paste Soundcloud URL here</label>
              <input id="input" class="block full-width field-light" placeholder="https://soundcloud.com/jrhodespianist/chopin-nocturne-in-c-minor-opus-481">
              <p>
                <button type="submit" id="submit" class="button black bg-silver mb1">Play it!</button>
                &nbsp;
                <input type="button" id="stop" value="Stop" class="button black bg-silver mb1">
              </p>
            </form>
          </div>
          <div class="col col-4 px2 border border-grey">
            <h2>Visualisations</h2>
          </div>
          <div class="col col-4 px2 border border-grey">
            <h2>Sign Up</h2>
            <h2>Log In</h2>
          </div>
        </div>
      </div>
    </div> -->

    <!-- Static navbar -->
<div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Zensations</a>
  </div>
  <div class="navbar-collapse collapse">

    <!-- Left nav -->
    <ul class="nav navbar-nav">
      <li><a href="#">Choose Track</a></li>
      <li><a href="#">Choose Visualisation</a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li class="dropdown-header">Nav header</li>
          <li><a href="#">Separated link</a></li>
          <li><a href="#">One more separated link</a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Another link</a></li>
              <li><a href="#">One more link</a></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>

    <!-- Right nav -->
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">Sign Up</a></li>
      <li><a href="#">Login</a></li>
    </ul>

  </div><!--/.nav-collapse -->
</div>
    
  </body>
</html>