<!DOCTYPE html>
<html>
  <head>
    <title>ProjectTwo</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>
  <body>
    <div class="main_container">
      <%= yield %>
    </div>

    <div id="slide-menu">
      <div class="container">
        <div class="flex flex-stretch mxn4">
          <div class="col col-4 px2 border border-grey">
            <h2>Music</h2>
            <form id="form">
              <label for="input">Paste Soundcloud URL here</label>
              <input id="input" class="block full-width field-light" placeholder="https://soundcloud.com/jrhodespianist/chopin-nocturne-in-c-minor-opus-481">
              <p>
                <button type="submit" id="submit" class="button black bg-silver mb1">Play it!</button>
                &nbsp;
                <input type="button" id="stop" value="Stop" class="button black bg-silver mb1">
              </p>
            </form>
          </div>
          <div class="col col-4 px2 border border-grey">
            <h2>Visualisations</h2>
          </div>
          <div class="col col-4 px2 border border-grey">
            <h2>Sign Up</h2>
            <h2>Log In</h2>
          </div>
        </div>
      </div>
    </div>
    
  </body>
</html>